---
const {deskURL, phoneURL, project, location, webURL} = Astro.props;
---

<div class="item-box">
    <img src={deskURL} alt="desktop with website" class="desktop">
    <img src={phoneURL} alt="phone with website" class="phone">
    <h1>{project}</h1>
    <h2>{location}</h2>
    <a class="btn" href={webURL}>Visit site</a>
    <a target="_blank" class="link" href={webURL}><span class="sr-only">Visit website</span></a>
</div>

<style>
    .item-box {
        font-family: "Roboto", Arial, Helvetica, sans-serif;
        display: inline-block;
        position: relative;
        width: 20rem;
    }
    .phone {
        position: absolute;
        width: 50%;
        top: 7.5rem;
        left: 0;
    }
    h1 {
        font-weight: 700;
        font-size: 1.5rem;
        margin-left: 0.5rem;
        margin-bottom: 0.25rem;
    }
    h2 {
        font-size: 1.1rem;
        margin-left: 0.5rem;
        margin-bottom: 0.75rem;
        color: #8d78b5;
        text-transform: uppercase;
        font-weight: 300;
    }
    .btn {
        margin-left: 0.5rem;
        background: linear-gradient(89.7deg, rgb(0, 32, 95) 2.8%, rgb(132, 53, 142) 97.8%);
        color: white;
        text-decoration: none;
        padding: 0.5rem 1.75rem;
        display: inline-block;
        border-radius: 0.25rem;
        text-transform: uppercase;
        border: 1px solid #8d78b5;
        transition: 200ms;
    }
    .link {
        position: absolute;
        width: 100%;
        height: 100%;
        top: 0;
        left: 0;
    }
</style>